/*!
 *  Frontend CSS by @Zajic - http://www.oplan.cz
 *  License - CSS: MIT License)
 */

 /* hide more options update records on hover */

body {
  padding-top: 5rem;
  font-size: 0.9rem;
  line-height: 1.4;
}
